$orange_01: #f48d69;
$orange_01_light: #ffb591;
$orange_01_pastel: #f8ddce;

$blue_01: #3e14d6;
$blue_01_light: #6259fa;
$blue_01_pastel: #cacefc;

$green_01: #5be080;
$green_01_light: #b9f8b9;
$green_01_pastel: #dffcdf;

$grey_01: #16162a;
$grey_01_medium: #3f3f50;
$grey_01_light: #a5a5ac;
$grey_01_pastel: #e3e3e5;

$white: #ffffff;

