@font-face {
    font-family: 'sharphiro-regular';
    src: local('sharphiro-regular'), url('./public/ezone-webfonts/sharpiro-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'sharphiro-bold';
    src: local('sharphiro-bold'), url('./public/ezone-webfonts/sharpiro-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'uniform-black';
    src: local('uniform-pro-con-black'), url('./public/ezone-webfonts/uniform-pro-con-black.woff2') format('woff2');
}

@font-face {
    font-family: 'uniform-medium';
    src: local('uniform-pro-con-medium'), url('./public/ezone-webfonts/uniform-pro-con-medium.woff2') format('woff2');
}





